<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <div class="navbar navbar-expand-lg navbar-light bg-light">
          <% if current_user.present? %>
            <h5 class="navbar-brand">Welcome, <%= current_user.name %></h5>
            <div class="ml-auto">
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger' %>
            </div>
          <% else %>
            <div class="ml-auto">
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Sign-up', new_user_registration_path, class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </ul>
    </div>
  </nav>
</header>